
  li {
      list-style: none;

      width: 150px;
      height: 150px;
      border: 1px solid #ccc;
      border-radius: 50%;
      background-color: #6c99c5;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      
  }



  

